{% extends "base.html" %}

{% block page_title %}
    search
{% endblock page_title %}

{% block search-bar %}

{% endblock search-bar %}

{% block content %}

    <form method="get" action="{% url "rooms:search" %}">
       {{form.as_p}}
        <button>search</button>
    </form>

    <h3>Results</h3>

    {% for room in rooms %}
        <h3>{{room.name}}</h3>
    {% endfor %}

    <h5>
    {% if rooms.has_previous %}
        <a href="?{{address}}&page={{rooms.previous_page_number}}">Previous</a>
    {% endif %}

    Page {{rooms.number}} of {{rooms.paginator.num_pages}} 

    {% if rooms.has_next %}
        <a href="?{{address}}&page={{rooms.next_page_number}}">Next</a>
    {% endif %}
    </h5>

{% endblock content %}